<style>
    body {
        font-family: Arial, sans-serif;
        background-color: black;
        color: #333;
        margin: 0;
        padding: 20px;
    }

    form {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    input[type="text"],
    input[type="submit"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid black;
        border-radius: 4px;
        box-sizing: border-box;
        color: black;
    }

    input[type="submit"] {
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
    }

    .disclaimer {
        font-size: 12px;
    }
</style>

<form method="post">
    Player ID: <input type="text" name="playerid"><br>
    <input type="submit" value="Submit">
    <p class="disclaimer">Currently the only way to get your player id is by joining a game with me (MaxNiftyNine), and
        i can pull it</p>
    <p>(OCULUS ONLY)</p>
</form>